doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Portfolio Contact Form
    link(rel="stylesheet", href="styles/email.css")

  body
    .email-container
      .header
        .logo
          .logo-icon Z
          span(style="color: #ffffff; font-weight: 600;") Portfolio
        h2 New Message Received
      
      .content
        .message-header
          .sender-info
            .sender-name #{name}
            .sender-email #{email}
        
        .subject #{subject}
        
        .message-body #{message}
        
        .footer
          .tech-icons
            .tech-icon JS
            .tech-icon TS
            .tech-icon R
          p Creating digital experiences that matter
          p Sent from your portfolio contact form